:root{
  --dark-cyan:hsl(158, 36%, 37%);
  --cream:hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%); 
  --White: hsl(0, 0%, 100%);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--cream);
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fraunces', serif;



  }

  .card {
    display: flex;
    place-items: center;
    background-color: #fff;
    width: 45rem;
    border-radius: 0.5rem;
    height: 45rem;
  }

  .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.5rem 0rem 0rem 0.5rem
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1rem;
    text-align: left;
    overflow: hidden;
  }

  .content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(228, 12%, 48%);
    font-family: 'Fraunces', serif;
    margin-top: -3rem;

  }

  .content h1 {
    color: hsl(212, 21%, 14%);
    margin-bottom: 2rem;
  }

  .content p {
    color: hsl(228, 12%, 48%);
    font-size: 0.8rem;
    margin-bottom: 3rem;
  }

  .price {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    place-items: center;
    margin-bottom: 1rem;
  }

  .price h2 {
    color: hsl(158, 36%, 37%);
    font-size: 1.8rem;

  }

  .price h4 {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;

  }

  button {
    border: none;
    outline: none;
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }

  .cart {
    background: hsl(158, 36%, 37%);
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 700;
  }
  
  .text{
    font-size: medium;
  }


  button img {
    margin-right: 1em;
    justify-content: center;
    align-items: center;
  }

  button:hover {
    background-color: hsl(158, 36%, 17%);
    transition: 400ms;
  }

  button:focus {
    outline: none;
  }

 

@media  (min-width:600px) {
  .card{
    flex-direction: column;
    width: 25rem;
    border-radius: 0.5rem 0.5rem  ;
  }

    .image-container {
      width: 100%;
      height: 18rem;
      overflow: hidden;
      border-radius: 0.5rem 0.5rem 0rem 0rem;
    }
    .content{
      margin-top: 1.5rem;
    }
}
  